# Experimental results
# ------------------------------------------------------------------------------
experiments/

# Dataset files
# ------------------------------------------------------------------------------
data/mnist/train.pth
data/mnist/MNIST/